<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cute_unit_description)/urdf/cute_unit.urdf.xacro" />

  <!-- cute arm -->
  <include file="$(find cute_unit_base)/launch/cute_arm.launch.xml" />

  <!-- realsense -->
  <!-- <param name="stereo_module/emitter_enabled" value="1"/> -->
  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
    <arg name="tf_prefix" value="camera"/>
    <arg name="align_depth" value="true"/>
    <arg name="enable_sync" value="true"/>
    <arg name="enable_depth" value="true"/>
    <arg name="initial_reset" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg log_type)" />

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cute_unit_viz)/viz/view.rviz" output="$(arg log_type)" /> -->
</launch>
