<?xml version = "1.0"?>
<robot name = "cute_unit_xacro" xmlns:xacro = "http://www.ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- aubo arm -->
  <xacro:include filename="$(find cute_unit_description)/urdf/cute_arm.urdf.xacro" />

  <!-- realsense d435 -->
  <xacro:include filename="$(find cute_unit_description)/urdf/realsense_d435.urdf.xacro" />

  <!-- base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://cute_unit_description/mesh/cute_unit_base.stl" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1.0" />
      </material>
    </visual>
  </link>

  <link name="surface_link" />
  <joint name="surface_joint" type="fixed">
    <origin xyz="0 0 0.0335" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="surface_link"/>
  </joint>

  <!-- cute arm -->
  <cute_300es/>
  <joint name="arm_joint" type="fixed">
    <origin xyz="-0.145 0 0.0335" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="cute_base_link"/>
  </joint>

  <!-- realsense -->
  <sensor_d435 parent="base_link" prefix="camera">
    <origin xyz="0.0365 0 0.577350" rpy="0 ${M_PI/2} 0"/>
  </sensor_d435>

</robot>
